body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html, body {
    background-image: url('http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100%;*/
    font-family: 'Numans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
