@using MyEvernote.ViewModels
@model  OkViewModel
@{
    ViewBag.Title =@Model.Title;
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-success text-center">@Model.Header</h4>
        </div>
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <span class="text-center"><i class="fas fa-ok-circle"></i></span><p>&nbsp;@Model.Title</p>
                <div class="text-justify">
                    @foreach (string msg in @Model.List)
                    {
                        <p class="text-success">@msg</p><br />
                    }

                </div>
            </div>
        </div>
    </div>

</div>

@{
    string js = string.Empty;
    js = " setTimeout(function() {window.location ='" + Model.RedirectingUrl + "';},'" + Model.RedirectingTimeOut + "');";
}

<script>

    $(function() {

        @Html.Raw(js);






    });


</script>