
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center ">
            <h1 class=" text-info text-muted">Hakkımzda</h1>
        </div>
        <div class="col-md-12 text-center">
            <img src="http://lorempixel.com/800/200/" class="img-responsive img-thumbnail img-rounded" alt="Hakkımzda" />
            <hr />
        </div>
      
        <div class="col-md-6 col-md-offset-3">
            <p>  Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.   Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum. </p>
        </div>
    </div>
</div>