
@{
    ViewBag.Title = "Hesap Aktifleştirildi";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-primary">Yönlendiriliyorsunuz...</h4>
        </div>
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <span class="text-center"><i class="fas fa-ok"></i></span><p>&nbsp;Hesabınız aktifleştirildi..</p>
                <p class="text-justify">
                    Hesabınızla artık not paylaşabilir ve not beğenisi yapabilirsiniz.
                </p>
            </div>
        </div>
    </div>

</div>



<script>

    setTimeout(function() {

        window.location = "/Home/Index";

    },8000);


</script>