@using MyEvernote.Entities.Messages
@model List<ErrorMessageObj>
@{
    ViewBag.Title = "Hesap Geçersiz";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-warning">Yönlendiriliyorsunuz...</h4>
        </div>
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <span class="text-center"><i class="fas fa-remove"></i></span><p>&nbsp;Hesap geçerli değil</p>
                <div class="text-justify">
                    @foreach (ErrorMessageObj error in Model)
                    {
                    <p class="text-danger">@error.Message</p><br />
                    }

                </div>
            </div>
        </div>
    </div>

</div>



<script>

    setTimeout(function() {

        window.location = "/Home/Index";

    },8000);


</script>